<div class="row">
  {foreach from=$all_goods item=goods}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="index.php?goods_sn={$goods.goods_sn}"><img src="{$goods.pic}" alt="{$goods.goods_title}"></a>
        <div class="caption">
          <div style="height: 60px;">
            <h3><a href="index.php?goods_sn={$goods.goods_sn}">{$goods.goods_title}</a></h3>
          </div>
          <div class="row">
            <div class="col-md-6" ><font color="green">售價：{$goods.goods_price}</font></div><br>
            <div class="col-md-6"><font color="red">人氣：{$goods.goods_counter}</font></div>
          </div>
        </div>
      </div>
    </div>
  {/foreach}
</div>
<font color="blue" style="font-size:30px">共有 {$total} 件商品</font>

{$bar}
